<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="e47ef1b8-cce5-4f95-a6c1-865c296f41f6"
    Version="1.0.0.0"
    Publisher="CN=Thakur Hansraj" />

  <Properties>
    <DisplayName>Channel9Reader</DisplayName>
    <PublisherDisplayName>Thakur Hansraj</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Channel9Reader"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Channel9Reader"
        ForegroundText="light"
        BackgroundColor="#464646">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
